/*
* This configuration file is for local runs
*/

docker {
    runOptions= "-v $HOME:$HOME"
    enabled = true
}

executor {
    name = 'local'
    cpus   = 8
    memory = '40GB'
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

process {

    withName: 'GBS_DEMULTIPLEX' {
        container = 'quay.io/biocontainers/cutadapt:4.4--py39hf95cd2a_1'
        cpus = 1
        memory = 4.GB
    }

    withName: 'FASTP' {
        container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
        cpus = 3
        memory = 4.GB
    }

    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
        cpus = 4
        memory = 8.GB
    }

    withName: 'BWA_INDEX' {
        container = 'quay.io/biocontainers/bwa:0.7.3a--hed695b0_5'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_FAIDX' {
        container = 'biocontainers/samtools:v1.7.0_cv4'
        cpus = 1
        memory = 4.GB
    }

    withName: 'SAMTOOLS_INDEX' {
        container = 'biocontainers/samtools:v1.7.0_cv4'
        cpus = 2
        memory = 4.GB
    }

    withName: 'SAMTOOLS_STATS' {
        container = 'biocontainers/samtools:v1.7.0_cv4'
        cpus = 1
        memory = 4.GB
    }

    withName: 'BWA_MEM' {
        container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0'
        cpus = 4
        memory = 10.GB
        ext.args = { "-R ${meta.read_group}" }
    }

    withName: 'MOSDEPTH' {
        container = 'quay.io/biocontainers/mosdepth:0.3.1--ha7ba039_0'
        cpus = 1
        memory = 8.GB
    }

    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.13--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }

    withName: 'GATK4_DICT' {
        container = 'broadinstitute/gatk:4.2.5.0'
        cpus = 2
        memory = 8.GB
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
        container = 'broadinstitute/gatk:4.2.5.0'
        cpus = 2
        memory = 10.GB
    }

    withName: 'GATK4_GENOTYPEGVCFS' {
        container = 'broadinstitute/gatk:4.2.5.0'
        cpus = 1
        memory = 22.GB
    }

    withName: 'GATK4_FILTERVARIANTS' {
        container = 'broadinstitute/gatk:4.2.5.0'
        cpus = 2
        memory = 8.GB
    }

    withName: 'VCF_SAMPLEMAP' {
        container = 'quay.io/biocontainers/vcftools:0.1.16--pl5321hdcf5f25_9'
        cpus = 1
        memory = 4.GB
    }

    withName: 'GATK4_GENOMICSDBIMPORT' {
        container = 'broadinstitute/gatk:4.2.5.0'
        cpus = 2
        memory = 8.GB
    }

    withName: 'BCFTOOLS_SORT' {
        container = 'quay.io/biocontainers/bcftools:1.18--h8b25389_0'
        cpus = 1
        memory = 4.GB
    }

    withName: 'GATK4_MERGEVCFS' {
        container = 'broadinstitute/gatk:4.2.5.0'
        cpus = 4
        memory = 20.GB
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        container = 'quay.io/biocontainers/multiqc:1.15--pyhdfd78af_0'
        cpus = 1
        memory = 2.GB
    }

}

